html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.faq-answer-anchor a {
  color: #cc1e66;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.page {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 1000px
    ),
    url('/images/home-background-clear.svg');
  /* background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg'); */

  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  background-color: #fff;
  margin: 50px auto;
}

@font-face {
  font-family: NotoSans-Regular;
  src: url(/fonts/NotoSans-Regular.woff);
}

@font-face {
  font-family: NotoSans-Bold;
  src: url(/fonts/NotoSans-Bold.woff);
}

@font-face {
  font-family: NotoSans-BoldItalic;
  src: url(/fonts/NotoSans-BoldItalic.woff);
}

@font-face {
  font-family: OstrichSansHeavy;
  src: url(/fonts/OstrichSansHeavy.woff);
}
